<<define "game">>
  <<template "header" .>>

<<if .TeamID>>
    <div id = "message" class="row">
      <div class="col-lg-6 col-centered">
        <div class="alert alert-info" role="alert">
          Team was created successfully! Use this link to invite your friends: <a href="http://teamneuron.mybluemix.net/team/<< .TeamID>>">http://teamneuron.mybluemix.net/team/<< .TeamID>></a>
        </div>
      </div>
    </div>
<<end>>     
<div class="container">
    <div class="row">
      <div class="col-lg-6 col-centered" style="width: 150px; margin: 0px auto">
        <div id="countdown"></div>
      </div>
    </div>

    <div class="row">
      <table style="width:100%">
        <tr>
          <td style="width:25%">
            <div id="player-1" class="player-1">Player 1</div>
            <div id="player-1-score" class="player-1 score">0</div>
          </td>
          <td style="width:50%">
            <div id="game-field">Please wait for second player</div>
          </td>
          <td style="width:25%">
          <div id="player-2" class="player-2"/>Player 2</div>
          <div id="player-2-score" class="player-2 score">0</div>
          </td>
        </tr>
      </table>
    </div>

    <div class="row">
      <div class="col-lg-6 col-centered">
        <div id="score" class="alert alert-info score" role="alert">
        </div>
      </div>
    </div>

</div>


<script src="/static/lib/socket.io/socket.io-1.3.6.js"></script>
<script src="/static/lib/jquery/jquery.min.js"></script>
<script src="/static/lib/jquery-ui/js/jquery-ui.min.js"></script>
<script src="/static/scripts/shared.js"></script>
<script src="/static/scripts/game0.js"></script>
<script src="/static/scripts/game1.js"></script>
<script src="/static/scripts/jquery.countdown360.min.js"></script>

<script type="text/javascript">
var playerIndex = 0;
var opponentIndex = 0;
var playerValue = 0;
var $playField = $('#game-field');
var $player1 = $('#player-1');
var $player2 = $('#player-2');
var $player1score = $('#player-1-score');
var $player2score = $('#player-2-score');
var $score = $('#score');

var countdown = $("#countdown").countdown360({
    radius: 60,
    seconds: 10,
    label: ['sec', 'secs'],
    fontColor: '#FFFFFF',
    autostart: true,
    onComplete: function () {
      finish('Time is over!', false);
    }
});

countdown.stop();

var socket;

$("#game-field").ready(function() {
      var lid = window.location.pathname.lastIndexOf("/")
      var teamId = window.location.pathname.substring(lid+1)
      socket = io.connect(window.location.host + "?team_id="+teamId);

      socket.on('connected', function (data) {
        playerIndex = parseInt(data);
        opponentIndex = (playerIndex % 2) + 1;

        console.log('connected: ' + playerIndex);
        $elem = $("#player-" + playerIndex);
        $elem.html("this is you");
      });  

      socket.on('start', function (data) {
        data = atob(data)
        console.log('start: ' + data);
        $('#message').hide();

        var json = JSON.parse(data);

        $playField.html(json.content);
        $player1.html(json.first);
        $player2.html(json.second);

        $elem = $("#player-" + playerIndex)
        $elem.html("Task: " + $elem.html());
        
        $("#player-" + opponentIndex).html('');
        countdown.start();
      });  

      socket.on('event', function (data) {
        console.log('event: ' + data);

        var json = JSON.parse(data);

        if (playerIndex == 1) {
          setHtml($player2score, json.score_player_2);
        } else {
          setHtml($player1score, json.score_player_1);
        }
        
        eval(json.message)
      });  

      socket.on('error', function (data) {
        console.log('error: ' + data);

        $("#dialog-confirm").html(data)

        $("#dialog-confirm").dialog({
            resizable: false,
            modal: true,
            title: "Error occurred",
            height: 250,
            width: 400,
            buttons: {
                "OK": function () {
                    window.location="/"
                }
            }
        });
      });        
})
</script>

<div id="dialog-confirm"></div>

  <<template "footer" .>>
<<end>>
