body { 
    padding-top: 65px; 
}

.number-line-container, .number-line-container li {
  list-style-type: none;
}

.number-line {
  display: inline;
  font-size: 32pt;
  cursor: pointer;
}

.col-centered {
  margin: 0 auto; 
  float: none;
}

.player-1 {
  font-size: 30pt;
	color: #cc0000;
	text-align: center;
}

.player-2 {
  font-size: 30pt;
	color: #0000cc;
	text-align: center;
}

.game0 {
  padding: 0;
  text-align: center;
  font-size: 28pt;
  list-style: none;
  font-family: 'Helvetica Bold', Helvetica, Arial, sans-serif;
}

.game1 {
  padding: 0;
  text-align: center;
  font-size: 40pt;
  list-style: none;
  font-family: 'Helvetica Bold', Helvetica, Arial, sans-serif;
}

.game2 {
  padding: 0;
  text-align: center;
  font-size: 28pt;
  list-style: none;
  font-family: 'Helvetica Bold', Helvetica, Arial, sans-serif;
}
.game ul {
  padding: 0;
  list-style: none;
}

.score {
  font-size: 30pt;
  text-align: center;
}